# See https://help.github.com/ignore-files/ for more about ignoring files.

# generated CSS files
src/**/*.css
!src/index.css

# dependencies
/node_modules/**

# testing
/coverage

# production
/build

# misc
.vscode
!.vscode/settings.json
**/.DS_Store
**/*.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

