h3, h1 {
	margin: 0;
}

/*APP COMPONENT ish goes here! -----------------------*/

.app {
	height: 500px;
	width: auto;
	padding: 100px 100px;
	background-color: lightblue;
}

.app-h1 {
	background-color: white;
}

/*BODY COMPONENT ish goes here! -----------------------*/



/*HEADER COMPONENT ish goes here! -----------------------*/

.header {
	overflow: hidden;
	background-color: #444444;
	height: auto;
	z-index: 1;
}

.header ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.header li a {
	float: left;
	display: inline-block;
	color: #fff;
	padding: 8px 16px;
	text-decoration: none;
	font-size: 17px;
	width: 120px;
	text-align: center;
}

.header a:hover {
	background-color: red;
}

/*HOME COMPONENT ish goes here! -----------------------*/

.home {
	text-align: center;
}

/*ABOUT COMPONENT ish goes here! ------------------------*/

.about {
	height: auto;
	width: 100%;
	background-color: #272727;
	color: white;
	z-index: 1;
	padding-top: 70px;
	padding-bottom: 40px;
}

.about img {
	-webkit-transform: ;
	height: 200px;
	width: 200px;
	border: 2px solid blue;
	border-radius: 60px;
	margin: 0 0 65px 0;
}

/*DEV COMPONENT ish goes here! -----------------------------*/

.devskills {
	height: 700px;
	width: 100%;
	color: white;
	background-color: #999999;
	padding: 40px 0;
	text-align: center;
}

.dev-pics img {
	height: 300px;
	width: 500px;
}

/*PROJECTS COMPONENT ish goes here! --------------------------*/

.projects {
	background-color: #333333;
	padding: 40px 0;
	color: white;
	font-family: Courier New, Courier, monospace;
	font-weight: bold;
	margin: 0 auto;
	height: 500px;
	width: 100%;
	text-align: center;
}

.project-list {
	display: inline-block;
	width: 200px;
}

.projects li {
	color: green;
	list-style-type: none;
	border-bottom: 1px solid white;
}

.projects li:hover {
	color: red;
	background-color: #555555;
}

/*CONTACT COMPONENT ish goes here! --------------------------*/

.contact {
	height: 600px;
	background-color: #999999
}

/*FOOTER COMPONENT ish goes here! --------------------------*/

.footer {
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.footer p {
	background-color: #444444;
	color: #ffffff;
	margin: auto;
	padding: 15px 0 15px 0;
	height: auto;
	font-size: 15px;
}

/*Ummmmmm... Place for transtition functions? -------------*/
