h3, h1 {
	margin: 0;
}

.header {
	overflow: hidden;
	background-color: #444444;
	position: fixed;
	top: 0px;
	width: 100%;
	height: auto;
	z-index: 1;
}

.header-content a {
	background-color: #444444;
	float: left;
	display: block;
	border: 1px solid white;
	border-radius: 4px;
	color: #f3f3f3;
	text-align: center;
	margin: 6px 3px;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	cursor: pointer;
}

.header-content a:hover {
	background-color: red;
	animation: test 5s 5;
}

.body {
	text-align: center;
		margin-top: 62px;
}

.bio {
	height: 300px;
	width: 100%;
	background-color: purple;
	color: white;
	z-index: 1;
	padding-top: 70px;
}

.dev {
	height: 400px;
	width: 100%;
	background-color: turquoise;
	padding-top: 15px;
}

.footer {
	overflow: hidden;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
}

.footer p {
	background-color: lightgreen;
	color: #333333;
	margin: auto;
	padding: 15px 0 15px 0;
	height: auto;
	font-size: 15px;
}

@keyframes test {
	50% {font: 40px bold;}
	50% {background-color: yellow;}
}

.col-sm-4 {
	border: 2px solid white;
	padding: 5px;
}

.col-sm-4 h3 {
	border-bottom: 3px solid white;
	color: gray;
	background-color: yellow;
	margin-bottom: 10px;
}

.col-sm-4 h3:hover {
	background-color: beige;
}
