.header {
    display: inline-block;
    font-size: 40px;
    color: white;
    background-color: gray;
		width: 100%;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
		-webkit-align-items: stretch;
		align-items: stretch;
    width: 100%;
    height: 100px;
    background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjT49u_57nTAhVfVWMKHelEB1EQjRwIBw&url=http%3A%2F%2Fimgur.com%2Fgallery%2Fo5drH&psig=AFQjCNF4RXxr1NSNcfQcfnPFUejad9vgMQ&ust=1493010444972056");
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;
}
